body{
    background-color:  #d3e1e1;
    margin: 0px;
    
}

.mainContainer{
    display:flex;
    flex-direction: column;
    background-color: #d3e1e1;
    width: 100%;
    height: 100%;
    margin:0px;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    padding: 50px;

}

.calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: black solid 2px;
    border-radius: 20px;
    align-items: center;
    margin: 50px;
    background-color: #363f3f;
}

.calculatorScreen{
    width: 90%;
    height: 30%;
    border: black solid 2px;
    border-radius: 20px;
    margin: 20px;
    background-color: #869191;
}

.calculatorButtons{
    width: 90%;
    height: 90%;
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    box-sizing: border-box;
}

.button{
    display: flex;
    border: black solid 2px;
    background-color: #646657;
    border-radius: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
